<template>
    <div id="app">
        <mt-header
            fixed="true" 
            v-bind:title="plugedViews[currentView]">
            <mt-button 
                icon="back" 
                slot="left" 
                v-on:click="changeView('listView')">
                back
            </mt-button>
            <mt-button 
                icon="more" 
                slot="right" 
                v-on:click="sheetVisible=true">      
                {{remoteDb.name}}
            </mt-button>
        </mt-header>

        <mt-actionsheet
            :actions="actions"
            v-model="sheetVisible"
            cancelText="Cancel">
        </mt-actionsheet>
        
        <component 
            v-bind:is="currentView" 
            v-bind:tasks="tasks" 
            v-bind:localDb="localDb" 
            v-bind:remoteDb="remoteDb"
            v-bind:indexOfCurrentTask="indexOfCurrentTask" 
            v-on:changeView="changeView(arguments[0],arguments[1])"
            v-on:back="changeView('listView')">
        </component>

        <mt-popup v-model="popupVisible" position="bottom">offline mode</mt-popup>

        <mt-spinner
            v-show="spinnerVisible"
            v-bind:size="80"
            color="#26a2ff"  
            type="triple-bounce">
        </mt-spinner>
    </div>
</template>

<script>
import listView from './components/listView'
import taskView from './components/taskView'
import deleteView from './components/deleteView'
import loginView from './components/loginView'
import {onDeviceReady} from './logic/onDeviceReady';

export default {
    props: {
        tasks: {
            type: Array
        },
        localDb: {
            type: Object
        },
        remoteDb: {
            type: Object
        },
        spinner: {
            type: Object
        }
    },
    created: function() {
        document.addEventListener('deviceready', ()=>{
            document.addEventListener('backbutton', ()=>{
                console.log('back');
                this.changeView('listView');
            });
        });

		document.addEventListener('deviceready', onDeviceReady);

        document.addEventListener('deviceready', () => {
            this.remoteDb.login('admin','admin')
            .then(()=>{
                alert('Log In Success!');
                this.remoteDb.readNextPart();
            })
        })
    },
    computed: {
        spinnerVisible: function () {
            return this.spinner.visible;
        }
    },
    data() {
        return {
            currentView: 'listView',
            plugedViews: {
                listView: 'List',
                taskView: 'Task details',
                deleteView: 'Delete tasks',
                loginView: 'Log In'
            },
            indexOfCurrentTask: 0,
            popupVisible: false,
            sheetVisible: false,
            actions: [{
                name:'Log in', 
                method: () => { 
                    this.changeView('loginView')
                }
            },
            {
                name:'Log out',
                method: () => { 
                    this.remoteDb.logout();
                    this.changeView('listView');
                }
            }]
       }
    },
    components: {
        listView,
        taskView,
        deleteView,
        loginView
    },
    methods: {        
        changeView(viewName, taskIndex) {
            this.currentView = viewName;
            this.indexOfCurrentTask = taskIndex;
        }
    }
}
</script>

<style scoped>

#app {
    margin-top: 50px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
</style>

<style>

body {
    margin: 0;
}

.mint-spinner-triple-bounce {
    z-index: 289;
    position: fixed; 
    top: 50vh;
    left: 50vw;
    margin-top: -20px;
    margin-left: -40px;
}
</style>
