<template>
    <div class="deleteView">
        <mt-checklist
            title="Select tasks to delete them:"
            v-model="value"
            :options="deleteList">
        </mt-checklist>
        <div class="buttons">
            <mt-button v-on:click="deleteTasks" size="small" type="primary"><icon name="delete" scale="120"></icon></mt-button >
        </div>
    </div>
</template>

<script>
export default {
	name: 'deleteView',
    props: {
        tasks: {
            type: Array
        },
        localDb: {
            type: Object
        },
        remoteDb: {
            type: Object
        }
    },
    created() {
        this.tasks.forEach((task)=>{
            this.deleteList.push(task.title);
        });
    },
	data() {
		return {
            deleteList: [],
            value: []
		}
    },
    methods: {
        deleteTasks() {
            console.log('this.value = ' + this.value + 'this deleteList = ' + this.deleteList);
            this.tasks.forEach((task, taskIndex) => {
                if (this.value.indexOf(task.title) !== -1) {
                    this.localDb.delete(taskIndex);
                    this.remoteDb.delete(taskIndex);
                    this.tasks.splice(taskIndex, 1);   
                }
            });
            this.$emit('back');
        }
    }

}
</script>

<style scoped>
    .buttons {
        position:fixed;
        left:10%;
        bottom:7%;
    }

    .icon {
        background:#fff;
        align-content:center;
        border-radius: 50%;
        color:#26a2ff;
    }

</style>
