<template>
	<div class="listView">
		<mt-cell 
			v-for="(task, index) in tasks" 
			@click.native="selectTask(index)" 
			v-bind:title="task.title"
			v-bind:value="task.description" 
			is-link>
		</mt-cell>

	    <mt-palette-button 
			v-if="remoteDb.auth"
	    	content="+" 
	    	direction="lt" 
			ref="targetListPalette"
	    	mainButtonStyle="color:#fff;background-color:#26a2ff;" 
	    	style="position:fixed;right:10%;bottom:7%;">
			<div v-if="remoteDb.admin" v-on:click="deleteTasks"><icon class="icon" name="remove" scale="140"></icon></div>
			<div v-if="remoteDb.admin" v-on:click="addTask"><icon class="icon" name="add" scale="140"></icon></div>
			<div v-on:click="sortList"><icon class="icon" name="sort" scale="140"></icon></div>
			<div v-on:click="updateList"><icon class="icon" name="update" scale="140"></icon></div>
	    </mt-palette-button>
	</div>
</template>

<script>

export default {
	name: 'listView',
	components: {
	},
    props: {
        tasks: {
            type: Array
        },
        localDb: {
            type: Object
        },
        remoteDb: {
            type: Object
        }
    }, 
	data() {
		return {
			scrollPosition: null,
			addedListHeight: 0
		}
	},
	mounted() {
		window.addEventListener('scroll', this.updateScroll);
	},
	computed: {
		listHeight: function() {
			return 20 * 48 + this.addedListHeight;
		},
		scrollPositionEnd: function() {
			return this.scrollPosition >= this.listHeight
		}
	},
	methods: {
		addTask() {
		    var index = 0;

		    this.tasks.unshift({
		        title: '',
		        description: '',
		        photo: '',
		        video: '',
		        barcode: '' 
		    });
			
			this.localDb.create(index);
			this.remoteDb.create(index)

		    this.selectTask(index);
		},
		selectTask(index) {
			this.$emit('changeView','taskView', index)
		},
		deleteTasks() {
			this.$emit('changeView', 'deleteView')
		},
		sortList() {
			this.tasks.sort((a, b)=>{
				return a.title.localeCompare(b.title);
			});
			this.$refs.targetListPalette.collapse();
		},
		updateList() {
			this.tasks.splice(0, this.tasks.length);
			this.remoteDb.part = 0;
			this.remoteDb.readNextPart();
			this.scrollPosition = null,
			this.addedListHeight = 0
			this.$refs.targetListPalette.collapse();
		},
		updateScroll() {
			this.scrollPosition = window.scrollY + window.screen.availHeight;
			if (this.scrollPositionEnd) {
				this.addedListHeight += 20*48;
				this.remoteDb.readNextPart();
			}
		}

	}

}
</script>

<style scoped>

    .buttons {
        position:fixed;
        left:10%;
        bottom:7%;
    }

    .icon {
        background:#fff;
        align-content:center;
        border-radius: 50%;
        color:#26a2ff;
    }

</style>
