<template>
    <div class="loginView">
        <mt-field label="User name:" placeholder="Input name" v-model="name"></mt-field>
        <mt-field type="password" label="Password:" placeholder="Input password" v-model="password"></mt-field>
        
        <div class="buttons">
            <mt-button v-on:click="login" type="primary"><icon name="done" scale="120"></icon></mt-button >
        </div>
    </div> 
</template>

<script>

export default {
	name: 'loginView',
    props: {
        tasks: {
            type: Array
        },
        localDb: {
            type: Object
        },
        remoteDb: {
            type: Object
        }
    },
    data() {
        return {
            name: '',
            password: ''
        }
    },
    methods: {
        login() {
            this.remoteDb.login(this.name, this.password)
            .then(()=>{
                alert('Log In Success!');
                this.remoteDb.readNextPart();
            });

            this.$emit('back');
        }
    }
}
</script>

<style scoped>
    .buttons {
        position:fixed;
        left:10%;
        bottom:7%;
    }

    .icon {
        background:#fff;
        align-content:center;
        border-radius: 50%;
        color:#26a2ff;
    }

</style>