<template>
    <div class="PhotoView" >
        <vue-cropper
            ref='cropper'
            center=true
            guides=true
            movable=true
            rotatable=true
            view-mode=0
            drag-mode="crop"
            auto-crop-area=0.5
            v-bind:min-container-height=height
            background=true
            v-bind:src=imgSrc
            alt="Source Image" >
        </vue-cropper>

        <div class="buttons">
            <mt-button v-on:click="saveImage" type="primary"><icon name="done" scale="120"></icon></mt-button >
            <mt-button v-on:click="$refs.cropper.setDragMode('move')" type="primary"><icon name="move" scale="120"></icon></mt-button >
            <mt-button v-on:click="$refs.cropper.setDragMode('crop')" type="primary"><icon name="crop" scale="120"></icon></mt-button >
            <mt-button v-on:click="$refs.cropper.rotate(90)" type="primary"><icon name="rotate" scale="120"></icon></mt-button >
            <mt-button v-on:click="cancel" type="primary"><icon name="close" scale="120"></icon></mt-button >
        </div>
    </div>
</template>

<script>
    import VueCropper from 'vue-cropperjs';

    export default {
        name: 'PhotoView',
        components: {
            VueCropper
        },
        props: {
            imgSrc: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                cropImg: this.imgSrc
            }
        },
        computed: {
            height: function() {
                debugger;
                console.log(window.screen.height)
                return window.screen.height;
            }
        },
        methods: {
            saveImage() {
                this.$emit('updatePhoto', this.$refs.cropper.getCroppedCanvas().toDataURL());
                this.$emit('hideCrop');
            },
            cancel() {
                this.$emit('hideCrop');
            }
        }
    }

</script>

<style scoped>
    .VueCropper {
        height:100vh;
        width:100vw;
    }

    .PhotoView {
        z-index: 289;
        position: fixed; 
        top:0; 
        position:fixed;
        height:100vh;
        width:100vw;
        background: white;
    }

    .buttons {
        position:fixed;
        left:10%;
        bottom:1%;
    }
</style>