<template>
     <div class="taskView">
        <mt-field label="Title" placeholder="Input title" v-model="title"></mt-field>
        <mt-field 
            v-model="description" 
            label="Description" 
            placeholder="Input description" 
            type="textarea" 
            rows="2">
        </mt-field>

        <img v-on:click="cropPhoto" v-bind:src="photo" />
        <PhotoView 
            v-on:hideCrop="showCrop=false" 
            v-on:updatePhoto="updatePhoto(arguments[0])" 
            v-if=showCrop v-bind:imgSrc="photo" />

        <video 
            v-bind:src="video" 
            v-show="!!video" 
            controls>
            <source v-bind:src="video" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
        <p v-show="!!barcode" >Scanned barcode: {{ barcode }}</p>    

        <div class="buttons">
            <mt-button v-if="remoteDb.auth" v-on:click="updateTask" type="primary"><icon name="done" scale="120"></icon></mt-button >
            <mt-button v-if="remoteDb.admin" v-on:click="deleteTask" type="primary"><icon name="delete" scale="120"></icon></mt-button >
        </div>
       
       <mt-palette-button
            v-if="remoteDb.auth"
            content="+" 
            direction="lt" 
			ref="targetTaskPalette"
            mainButtonStyle="color:#fff;background-color:#26a2ff;" 
            style="position:fixed;right:10%;bottom:7%;">
            <div v-on:click="getPicture"><icon class="icon" name="photo" scale="140"></icon></div>
            <div v-on:click="cropPhoto"><icon class="icon" name="crop" scale="140"></icon></div>
            <div v-on:click="captureVideo"><icon class="icon" name="video" scale="140"></icon></div>
            <div v-on:click="scanBarcode"><icon class="icon" name="barcode" scale="140"></icon></div>
        </mt-palette-button>

    </div>
</template>

<script>
import {Barcode} from '../logic/barcode';
import {Photo} from '../logic/photo';
import {Video} from '../logic/video';
import PhotoView from '../components/PhotoView'


export default {
    name: 'taskView',
    components: {
        PhotoView
    },
    props: {
        tasks: {
            type: Array
        },
        localDb: {
            type: Object
        },
        remoteDb: {
            type: Object
        },
        indexOfCurrentTask: {
            type: Number,
            default: 0
        }
    },
    data() {
        return {
            photo: this.tasks[this.indexOfCurrentTask].photo,
            title: this.tasks[this.indexOfCurrentTask].title,
            description: this.tasks[this.indexOfCurrentTask].description,
            video: this.tasks[this.indexOfCurrentTask].video,
            barcode: this.tasks[this.indexOfCurrentTask].barcode,
            showCrop: false
        }
    },
    methods: {
        getPicture() {
            let photo  = new Photo(this);
            
            photo.getPicture();
            this.$refs.targetTaskPalette.collapse();
        },
        cropPhoto() {
            this.showCrop = true;
			this.$refs.targetTaskPalette.collapse();
        },
        updatePhoto(newPhoto) {
            this.photo = newPhoto;            
        },
        captureVideo() {
            let video = new Video(this);
            
            video.captureVideo();
			this.$refs.targetTaskPalette.collapse();
        },
        scanBarcode() {
            let barcode = new Barcode(this);
          
            barcode.scanBarcode();
			this.$refs.targetTaskPalette.collapse();
        },
        updateTask() {
            this.tasks[this.indexOfCurrentTask].photo = this.photo;
            this.tasks[this.indexOfCurrentTask].title = this.title;
            this.tasks[this.indexOfCurrentTask].description = this.description;
            this.tasks[this.indexOfCurrentTask].video = this.video;
            this.tasks[this.indexOfCurrentTask].barcode = this.barcode;
            this.localDb.update(this.indexOfCurrentTask);
            this.remoteDb.update(this.indexOfCurrentTask);
			this.$emit('back');
        },
        deleteTask() {
            this.localDb.delete(this.indexOfCurrentTask);
            this.remoteDb.delete(this.indexOfCurrentTask);
            this.tasks.splice(this.indexOfCurrentTask, 1);   
			this.$emit('back');
        }
    }
}
</script>

<style scoped>
    .buttons {
        position:fixed;
        left:10%;
        bottom:7%;
    }

    .icon {
        background:#fff;
        align-content:center;
        border-radius: 50%;
        color:#26a2ff;
    }


    video, img {
        min-width:20vh;
        min-height:20vh;
        max-width:50vw;
        max-height:20vh; 
        margin-right:25vw;
        margin-left:25vw;
        margin-top:1vh;
    }

</style>
